body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  border:solid 2px black;
  padding: 2rem;
  max-width: 40rem;
}

nav button{
  
  border-right: solid 2px black;
  padding: 1.5rem;
  
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10rem;
  margin-left: 3rem;
}

.project{
  border: solid 2px black;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: 20rem;
}

#newProjectForm{
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding:2rem;
  
}

#newProjectSection{
  margin-left: 22rem;
  margin-top: 4rem;

}

#newProjectSection h2{
  margin-left: 10rem;
  margin-top: 4rem;

}

#homeSection {
  margin-left: 20rem;
  margin-top: 4rem;
}

#projectSectionHeading {
  margin-left: 32rem;
  margin-top: 4rem;
}